<div class="messages-page" *ngIf="messages$ | async as messages">
  <div class="messages-buttons-box ">
  <div class="button-box-container">
    <button
    mat-raised-button
    color = "accent"
    class = "random-button"
    (click)="writeMessage(user)"
    >
    <mat-icon>
    <span class="material-symbols-outlined">
    add
    </span>
    </mat-icon>
    Написать письмо
    </button>

    <button
    mat-raised-button
    color = "accent"
    class = "random-button"
    >
    <mat-icon>
    <span class="material-symbols-outlined">
    star
    </span>
    </mat-icon>
    Избранное
    </button>
  </div>
</div>
  <div class="message-card-container">
    <div class="mat-fab-container">
      <button
     mat-fab
     color="accent"
    (click)="onDeleteMessages()">
    <mat-icon
       aria-label="Example logout icon"
       >
       <span class="material-symbols-outlined">
       delete
       </span>
    </mat-icon>
    </button>
    </div>
    <app-message-card *ngFor="let message of messages"
    [currentUser]="user"
    [message]="message"
    (change)="addMessageToDelete($event)"
    (delete)="onChangeFlag($event)">
  </app-message-card>
  </div>
</div>
