
  <table class="collection-film-container">
    <th>№</th>
    <th>Название</th>
    <th>Режиссёр</th>
    <th>Рейтинг</th>
    <th>Оценка</th>

    <ng-container *ngFor="let film of films$ | async; index as i">
      <tr [ngClass]="{'odd': 1%2==0, 'even': i%2!=0}">
        <td>{{ i+1 }}</td>
        <td class="td-start"> <p>{{film.rusTitle}}</p><p class="italic">{{ film.title }}</p></td>
        <td>{{ film.director }}</td>
        <td>{{ film.rating }}</td>
        <td><app-user-rating [userId]="user.id" [filmId]="film.id" [visibility]="visibility"></app-user-rating></td>
      </tr>
    </ng-container>

  </table>
