

  .rating-container {
    display: flex;
    margin: 0 1.5em;
    justify-content: center;
    align-items: center;
    background-color: #673ab7;
    width: 2em;
    height: 1.5em;
    color: white;

  }
