<ng-container *ngIf="film$ | async as film">
  <div class = "film-page">
     <div class = "film-page-header" *ngIf="user$ | async as user">
        <div class = "film-page-name-container">
           <h2>{{film.rusTitle | uppercase}}</h2>
           <p>{{film.title}} <span>({{film.year}})</span></p>
        </div>
        <ng-container *ngIf="user; else WithoutUser">
           <div class = "header-right">
              <app-movie-rating class = "star-rating"
              [rating]="getStarRatingFromFilm(film)"
              [user]="user"
              (update)="onMovieRatingUpdate(film, user, $event)"
              ></app-movie-rating>
              <app-user-rating [userId]="user.id" [filmId]="film.id" [visibility]="visibility"></app-user-rating>
           </div>
        </ng-container>
        <ng-template #WithoutUser>
           <app-movie-rating class = "star-rating"
           [rating]="film.rating"
           (update)="showMessage()"
           (mouseleave)="deleteMessage()"
           ></app-movie-rating>
           <p>{{ message }}</p>
        </ng-template>
     </div>
     <div class = "film-page-body">
        <img
        [src]="film.urlPoster"
        [alt]="film.title">
        <div class = "film-information-container">
           <div class = "array-container" *ngFor = "let genre of film.genres">
              <p>{{genre}}</p>
           </div>
           <p>{{film.plot}}</p>
           <p><span>Режиссёр: </span> {{film.director}}</p>
           <div class = "film-notes-container" *ngIf = "film.notes">
              Заметки:
              <p>{{film.notes}}</p>
           </div>
           <div class = "array-container" *ngFor = "let country of film.countries">
              <p>{{country}}</p>
           </div>
        </div>
        <div class = "film-link-container">
           <a class="youtube" mat-stroked-button [href]="film.trailer" target="_blank"></a>
           <a class="kino" mat-stroked-button [href]="film.url" target="_blank"></a>
           <div *ngIf="user$ | async as user">
            <app-veto-button [user]="user" [film]="film"></app-veto-button>
           </div>
        </div>
     </div>
     <ng-container *ngIf="user$ | async as user; else WithoutUser">
      <button mat-raised-button
      class = "review-form-button"
      color = "accent"
      (click)="showReviewForm(film, user)"
      >
      <mat-icon>
      <span class="material-symbols-outlined">
      add
      </span>
      </mat-icon>
       Добавить рецензию</button>
      <app-user-text-review [film]="film"></app-user-text-review>
     </ng-container>

     <ng-template #WithoutUser>
      <app-user-text-review [film]="film"></app-user-text-review>
     </ng-template>
  </div>
</ng-container>
