  .admin-page {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 80%;
  height: auto;
  margin: 3em auto;
  border-radius: 20px;
  background-color: black;

  .user-page-header {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: 2em auto;

  h2 {
    font-family: var(--Forum);
    font-size: 3em;
    color: var(--font-gold);
    font-weight: bold;
  }

  h2::after {
    content: '';
    display: block;
    padding-bottom: 11px;
    margin-bottom: 10px;
    width: 81%;
    border-bottom: 4px solid var(--dark-red);;
    transition: all 0.3s ease;
  }

  h2:hover:after {
    width: 100%;
  }

  img {
    height: 200px;
    width: 200px;
    border-radius: 100px;
  }

  .user-page-right {
   display: flex;
   flex-direction: column;


    button {
      margin:0.5em;
    }
  }
}

  .buffer-comment-container {
    margin: 4vh auto;
    width: 50%;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    color:black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    .buffer-comment-header {
      display: flex;
      padding: 2% 2% 2% 2%;
      width: 100%;
      border-bottom: grey 2px solid;

      app-user-link,
      .date-container{
        display: flex;
        width: 50%;
        justify-content: space-between;
      }

      .date-container {
        display:flex;
        flex-direction: column;
        justify-content: end;
        align-items: end;
        width: 50%;

        button {
          width: 10em;
          margin: 0.5em 0;
        }
      }

    }

    .comment-text {
      width: 100;
      padding: 2% 2%;

      p {
        font-size: 1em;
        text-align: justify;
      }
    }
  }
}
