<div class="admin-page" >
  <div class="user-page-button">
    <button (click)="activePage = 'film'">Новые фильмы</button>
    <button (click)="activePage = 'review'" class="review">Новые отзывы</button>
  </div>
    <div class="user-page-body film-page" *ngIf="activePage === 'film'">
      <div class="new-film-container"*ngIf="newFilms$ |async as films">
        <app-buffer-film-list *ngIf="films" [films] ="films"></app-buffer-film-list>
      </div>
    </div>
    <div class="user-page-body review-page" *ngIf="activePage === 'review'">
      <div *ngFor="let item of _textfeedbackList | async" class="buffer-comment-container" [ngClass]="{'good': item.typeReview==='good', 'neutral':item.typeReview==='neutral', 'bad': item.typeReview==='bad'}" routerLink="/users/{{item.id}}">
        <div class="buffer-comment-header">
          <app-user-link [userId]="item.userId" [filmId]="item.id"></app-user-link>
          <div class = "date-container">
            <span>{{item.dateReview}}</span>
            <button
            mat-raised-button
            color="accent"
            (click)="updateFeed(item.id, item.userId, true)"
            >
              <mat-icon>
                <span class="material-symbols-outlined"> post_add </span>
              </mat-icon>
              Одобрить
            </button>

            <button
            mat-raised-button
            color="accent"
            (click)="updateFeed(item.id, item.userId, false)"
          >
            <mat-icon>
              <span class="material-symbols-outlined"> delete </span>
            </mat-icon>
            Отказать
          </button>
          </div>
        </div>
        <div class="comment-text">
          <p>{{ item.review }}</p>
        </div>
      </div>
    </div>



</div>
