.comment-container,
.comment-form-container {
  margin: 4vh auto;
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  color: black;

  .comment-header {
    display: flex;
    padding: 2% 2% 2% 2%;
    width: 95%;

  .image-title-container,
  .date-container{
    display: flex;
    width: 50%;


    img {
      max-height: 8em;
    }

    .comment-title {
      display: flex;
      flex-direction: column;
      margin: 1em 1em;
      font-size: 1em;

      .border {
        text-decoration: underline;
      }
    }
  }

  .date-container {
    display: inline-block;
    text-align: end;
    width: 50%;
  }
}

  .comment-text {
    width: 100%;
    padding: 2% 2%;

    p {
      font-size: 1em;
      text-align: justify;
    }


  }

}
