<div *ngFor="let item of _textfeedbackList | async" class="comment-container" [ngClass]="{'good': item.typeReview==='good', 'neutral':item.typeReview==='neutral', 'bad': item.typeReview==='bad'}" routerLink="/users/{{item.id}}">
  <div class="comment-header">
    <div class = "image-title-container" >
      <img [src]="item.urlPoster" routerLink="/catalog/{{item.id}}"/>
      <div class="comment-title">
        <span class="border">{{ item.rusTitle }} ({{ item.year }})</span>
        <span class="italic">{{ item.title}}</span>
      </div>
    </div>
    <div class = "date-container">
      <span>{{item.dateReview}}</span>
    </div>
  </div>
  <div class="comment-text">
    <p>{{ item.review }}</p>
  </div>
</div>
