.comment-container,
.comment-form-container {
  margin: 4vh auto;
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  color: black;

  .comment-header {
    display: flex;
    padding: 2% 2% 2% 2%;
    width: 95%;

  .image-title-container,
  .notes-container{
    display: flex;
    width: 50%;


    img {
      max-height: 8em;
    }

    .comment-title {
      display: flex;
      flex-direction: column;
      margin: 1em 1em;
      font-size: 1em;

      .border {
        text-decoration: underline;
      }
    }
  }

  .notes-container {
    display: flex;
    justify-content: flex-end;
    margin: 0;

  .date-container {
    display: inline-block;
    margin-top: 3em;
    text-align: end;
    width: 50%;
  }

    .light-detector {
      position: absolute;
      width: 2em;
      height: 2em;
      border-radius: 20px;
      border: 3px black solid;
    }

    .light-detector.red {
        background-color: red;
      }

      .light-detector.green {
        background-color: green;
      }

      .light-detector.yellow {
        background-color: yellow;
      }
  }

}

  .comment-text {
    width: 100%;
    padding: 2% 2%;

    p {
      font-size: 1em;
      text-align: justify;
    }


  }

}
