<div class = "image-title-container" *ngIf="user$ | async as user">
  <ng-container *ngIf="film$ |async as film">
            <img [src]="film.urlPoster"  [alt]="film.title" routerLink="/catalog/{{film.id}}"/>
            <div class="comment-title">
              <span class="name" routerLink="/user/{{user.id}}">{{ user.name }}</span>
              <span class="border">{{ film.rusTitle }} ({{ film.year }})</span>
              <span class="italic">{{ film.title}}</span>
            </div>
          </ng-container>
</div>
