<div class = "user-page" >
  <ng-container *ngIf = "user$ | async as user">
    <div class = "user-page-header">
      <img img *ngIf="user.avatar" [src]="user.avatar" [alt]="user.name">
      <img img *ngIf="!user.avatar" src="https://i.pinimg.com/280x280_RS/04/ff/49/04ff4992f981e4672fa824a6ab6ffea6.jpg" [alt]="user.name">
      <div сlass = "user-page-header-middle">
        <h2>{{user.name}}</h2>
        <p><span>Email:</span> {{user.email}}</p>
        <div>
          <div *ngIf="user.personalData.realName"><span>Имя:</span> {{user.personalData.realName}}</div>
          <div *ngIf="user.personalData.country"><span>Страна:</span> {{user.personalData.country}}</div>
          <div *ngIf="user.personalData.about"><span>Обо мне:</span> {{user.personalData.about}}</div>
          <div *ngIf="user.personalData.link"><span>Cоциальные сети:</span> {{user.personalData.link}}</div>
        </div>
      </div>
      <div class = "user-page-right">
        <button
        mat-raised-button
        color = "accent"
        (click)="showInformationModal(user)"
        ><mat-icon>
          <span class="material-symbols-outlined">
            record_voice_over
            </span>
          </mat-icon>
        Рассказать о себе
        </button>

        <button
        mat-raised-button
        color = "accent"
        (click)="showRegistrationInformationModal(user)"
        ><mat-icon>
          <span class="material-symbols-outlined">
            contacts
            </span>
          </mat-icon>
        Изменить пароль или почту
        </button>
      </div>
    </div>
  </ng-container>


</div>
