.author-container {
  width: 80px;

p {
  margin: 0.5em;
  text-align: center;
}

img {
  height: 70px;
  width: 70px;
  border-radius: 100px;
  box-shadow: 0 0 0 3px white, 0 0 13px white;
  margin: 0.5em;
}
}
