.message-page {
  width: 40%;
  margin: 2em auto;
.item-container {
  display: flex;
  margin: 1em auto;
  padding: 1em;
  background-color: black;

  p {
    margin: 1em;
    font-size: 1.2em;
    text-align:justify;
  }
}
}
