.message-page {
  width: 40%;
  margin: 2em auto;
  display: flex;
  flex-direction: column-reverse;

.item-container {
  display: flex;
  width: 100%;
  margin: 1em auto;
  padding: 1em;
  background-color: black;

  p {
    margin: 1em;
    font-size: 1.2em;
    text-align:justify;
  }

}
}
