.comment-container,
.comment-form-container {
  margin: 4vh auto;
  width: 45%;
  border: 2px solid black;
  background-color: black;
  display: flex;
  flex-wrap: wrap;

  .comment-header {
    display: flex;
    padding: 2% 2% 2% 2%;
    width: 100%;
    border-bottom: white 2px solid;

  .image-title-container,
  .date-container{
    display: flex;
    width: 50%;
    justify-content: space-between;


    img {
      width: 5em;
      height: 5em;
      border-radius: 100px;
      box-shadow: 0 0 0 3px white, 0 0 13px white;

    }

    .comment-title {
      text-align: center;
      margin: 1em 0;
      font-size: 1.5em;
    }
  }

  .date-container {
    display: inline-block;
    text-align: end;
    width: 50%;
  }
}

  .comment-text {
    width: 100;
    padding: 2% 2%;

    p {
      font-size: 1.3em;
      text-align: justify;
    }


  }
}

.comment-form-container{
  color: black;
  border: 2px solid white;
  background-color: white;

  .comment-form-text {
    width: 89%;
    padding-left: 2%;
    display: flex;
    flex-direction: column;

    .text-input {
      height: 75%;
    }

    .comment-button {
      font-family: var(--Risque);
      font-size: 30px;
      border: 2px solid var(--lime);
      border-radius: 30px;
      background-color: var(--lime);
      width: 260px;
      height: 5vh;
      opacity: 0.8;
      cursor: pointer;
      transition: 0.3s;
      margin: 2% auto;
    }

    .comment-button:hover{
       opacity: 1;
       background-color: var(--font-gold);
    }

    .comment-button:active{
       opacity: 1;
       background-color: var(--pink-rusberry);
    }


  }

}
