<div class = "catalog-page">

      <ng-container *ngIf = "user$ | async as user">
        <button
        mat-raised-button
        color = "accent"
        (click)="showGovenment(user)"
        >
        <mat-icon>
        <span class="material-symbols-outlined">
        theaters
        </span>
        </mat-icon>
        Управление каталогом
      </button>
     </ng-container>

     <app-catalog-filters></app-catalog-filters>

     <div class="catalog-films" *ngIf="films$ |async as films">
     <app-films-list *ngIf="films" [films] ="films"></app-films-list>
    </div>
</div>

