.catalog-page {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 90%;
  margin: 0 auto;

  button {
    margin: 2em auto;
    width: 260px;
    }

  .govenment {
    display: flex;
    flex-direction: column;
  }

   .catalog-films {
    display: flex;
    flex-wrap: wrap;
  }

  app-catalog-filters {
    width: auto;
    background-color: white;
    margin: 2em auto;
    border-radius: 20px;
    padding: 1.5em;
    display: flex;
    justify-content: center;
    color: black;
  }
}
