.user-rating {
 display:flex;
 justify-content: center;
 align-items: center;
 font-size: 20px;

 .rating-text {
  display: block;
  margin: 0 1em 0 0;
 }

 span {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--purple);
  font-family: var(--Forum);
  font-weight: bold;
  border-radius: 20px;
  width: 30px;
  height: 30px;
  color: white;
  font-size: 1em;
 }

.hidden {
  display: none;
}

}
