/* You can add global styles to this file, and also import other style files */

:root {
  --lime: rgba(207, 194, 80, 1);
  --purple: #673ab7;
  --dark-red: #710707;
  --old-silver: #828282;
  --gainsboro:#DCDCDC;
  --font-gold: #9d8665;
  --tan: #D2B48C;
  --pale-brown: #987654;
  --cream-pink: #eec5c5;
  --Cinzel: 'Cinzel', serif;///заголовок
  --Bona: 'Bona Nova', serif;///база
  --Caveat: 'Caveat', cursive;
  --Forum: 'Forum', cursive;

}

html, body {
  height: 100%;
  color: white;
  background-image: url('./assets/background.jpeg');
  background-size: cover;
  background-repeat: repeat;

}

body {
  margin: 0;



app-header,
app-footer {
  height: 10vh;
  width: 100%;
  display: flex;
  background-color: black;
}

.main {
  width: 100%;
  height: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;

}


/*app-footer {
  position: fixed;
  bottom: 0;
}*/
}

.icon-black {
  max-width: 30px;
  max-height: 30px;
  padding: 0;
  margin-right: 10px;
}

.icon {
  max-width: 50px;
  max-height: 50px;
  filter: invert(100%);
  padding: 0;
}


.page {
  height: 70vh;
  width: 90%;
  margin: 4vh auto;
}

.modal-title {
  display: flex;
  text-align: end;
  justify-content: center;

  h2 {
    display: block;
    text-transform: uppercase;
    margin: 0;
  }

  h2::after {
    content: '';
    display: block;
    padding-bottom: 11px;
    margin-bottom: 10px;
    width: 81%;
    border-bottom: 3px solid var(--purple);;
    transition: all 0.3s ease;
  }

  h2:hover:after {
    width: 100%;
  }
}

.modal-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .mat-form-field {
    margin-top: 1em;
    width: 65%;
  }
}

.youtube,
.kino {
  background-image: url('./youtube.ico');
  background-size: cover;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
}

.kino {
  background-image: url('./kinopoisk.ico');
}

.catalog-filter .price,
.catalog-filter .range{
  margin: 0 1em;

}

.collection-film-container {
  width: 100%;
  margin: 0 auto;
  text-align: center;


  th {
    background-color:  var(--font-gold);
    font-family: var(--Forum);
    font-size: 1.5em;
    height: 1.5em;
    padding: 0.5em 0;
  }

  tr {
  font-size: 1.2em;
  font-family: var(--Bona);

   td {
   padding: 0.3em 0;
   }
   .td-start {
    text-align: start;
    padding-left: 0.5em;

    p {
      margin:0;
    }
   }

  }
  }
  .italic {
    font-style: italic;
  }


    .good {
      background-color: #ADDFAD;
    }

    .neutral {
      background-color: #FFEC8B;
    }

    .bad {
    background-color: #FDBDBA;
  }

  app-veto-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5% 0;
  }

  .cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .film-card,
.film-card-w {
  margin: 2em;
  width: 260px;
  border-radius: 20px;
  background-color: #1D1E33;
}
  .film-container,
  .film-buffer-container {
    text-align: center;
    height: 360px;

    img {
    height: 250px;
    width: 170px;
    margin: 0 auto;
    padding: 2em;
  }

  .film-title {
    font-size: 1.2em;
    font-weight: bold;
    margin: 0 auto;
    width: 240px;
    color: white;
    margin-bottom: 1em;
    padding: 0;
  }
  }

.film-card-w {
    background-color: #7B001C;
}

.film-card-v {
  background-color: #FFCC00;
  color: black;
}

.film-page,
.film-buffer-page {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 90%;
  height: 100vh;
  margin: 2em auto;
  background-color: #321011;

  .film-page-header,
  .film-page-body {
    display: flex;
    margin:  0 1.5em;

    .film-page-name-container {

      h2 {
        margin: 0.5em 0;
        font-size: 2em;
      }

    }

    .header-right {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    app-movie-rating {
      margin-bottom: 1em;
    }
  }

  .film-page-header {
    justify-content: space-between;
  }

  .film-page-body {

    img {
      margin: 1em 0;
      width: 25%;
    }

    .film-information-container {
      margin: 1em 2em;
      width: 75%;

      p {
        text-align:justify;
      }

      .array-container {
        display: inline-block;
        text-align: center;
        button,
        p {
          padding: 0.5em 1em;
          margin: 0 1em 1em 1em;
          border: 2px solid white;
          border-radius: 20px;
          text-align: center;

        }
      }

      .film-notes-container {
        p {
          text-align:justify;
        }
      }

    }
    .film-link-container {
      margin: 2em 2em 2em 0;
      width:15%;

      a{
        width: 70px;
        height: 70px;
        border-radius: 50%;
        margin: 1em;
      }

      button {
        margin: 1.5em 0;
        width: 100%;
      }

    }

  }
  .review-form-button {
    width: 20%;
    margin: 0 auto;
  }
}

.film-buffer-page {
  background-color: #191970;
}

.film-buffer-container {
  height: 420px;

  p {
    padding-top: 1em;
    margin: 0;
  }

  img {
    height: 250px;
    width: 170px;
    margin: 0 auto;
    padding: 1em;
  }
}





