/* You can add global styles to this file, and also import other style files */

:root {
  --lime: rgba(207, 194, 80, 1);
  --purple: #673ab7;
  --dark-red: #710707;
  --old-silver: #828282;
  --gainsboro:#DCDCDC;
  --font-gold: #9d8665;
  --tan: #D2B48C;
  --pale-brown: #987654;
  --cream-pink: #eec5c5;
  --Cinzel: 'Cinzel', serif;///заголовок
  --Bona: 'Bona Nova', serif;///база
  --Caveat: 'Caveat', cursive;
  --Forum: 'Forum', cursive;

}

html, body {
  height: 100%;
  color: white;
  background-image: url('./assets/background.jpeg');
  background-size: cover;
  background-repeat: repeat;

}

body {
  margin: 0;



app-header,
app-footer {
  height: 10vh;
  width: 100%;
  display: flex;
  background-color: black;
}

.main {
  width: 100%;
  height: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;

}


/*app-footer {
  position: fixed;
  bottom: 0;
}*/
}

.icon-black {
  max-width: 30px;
  max-height: 30px;
  padding: 0;
  margin-right: 10px;
}

.icon {
  max-width: 50px;
  max-height: 50px;
  filter: invert(100%);
  padding: 0;
}


.page {
  height: 70vh;
  width: 90%;
  margin: 4vh auto;
}

.modal-title {
  display: flex;
  text-align: end;
  justify-content: center;

  h2 {
    display: block;
    text-transform: uppercase;
    margin: 0;
  }

  h2::after {
    content: '';
    display: block;
    padding-bottom: 11px;
    margin-bottom: 10px;
    width: 81%;
    border-bottom: 3px solid var(--purple);;
    transition: all 0.3s ease;
  }

  h2:hover:after {
    width: 100%;
  }
}

.modal-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .mat-form-field {
    margin-top: 1em;
    width: 65%;
  }
}

.youtube,
.kino {
  background-image: url('./youtube.ico');
  background-size: cover;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
}

.kino {
  background-image: url('./kinopoisk.ico');
}

.catalog-filter .price,
.catalog-filter .range{
  margin: 0 1em;

}

.collection-film-container {
  width: 100%;
  margin: 0 auto;
  text-align: center;


  th {
    background-color:  var(--font-gold);
    font-family: var(--Forum);
    font-size: 1.5em;
    height: 1.5em;
    padding: 0.5em 0;
  }

  tr {
  font-size: 1.2em;
  font-family: var(--Bona);

   td {
   padding: 0.3em 0;
   }
   .td-start {
    text-align: start;
    padding-left: 0.5em;

    p {
      margin:0;
    }
   }

  }
  }
  .italic {
    font-style: italic;
  }


    .good {
      background-color: #ADDFAD;
    }

    .neutral {
      background-color: #FFEC8B;
    }

    .bad {
    background-color: #FDBDBA;
  }

  app-veto-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5% 0;
  }





